body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
}
body{
	
}
#nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	z-index: 10; 
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  position: relative;
}

.nav_item{
    float: left;
	width: 25%;
	height: 65px;
}

.nav_link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
	text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#active{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

#home_link{
	background-color: #ff9800;
}
#developer_link{
	background-color: #2196F3;
;
}
#photography_link{
	background-color: #8BC34A;
}
#youtube_link{
	background-color: #F44336;
}



/*start skills*/
h1{
  font-family: 'Suez One', serif;
  font-size: 60px;
  color: #607D8B;
  text-align: center;
}


#skills_list_wrapper{
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

#skills_list_wrapper > #skills_list{
	list-style-type: none;
    overflow: hidden;
	position:relative;
	left: 50%;
}

.skills_item{
	display:inline;
}


/* skills*/


