body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,blockquote,th,td { 
    margin:0;
    padding:0;
}
body{
	
}
#nav_bar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	z-index: 10; 
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  position: relative;
}

.nav_item{
    float: left;
	width: 25%;
	height: 65px;
}

.nav_link{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	
	text-align: center;
  color: white;
  font-size: 30px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

#active{
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	text-align: center;
	color: white;
	font-size: 30px;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
}

#home_link{
	background-color: #ff9800;
}
#developer_link{
	background-color: #2196F3;
;
}
#photography_link{
	background-color: #8BC34A;
}
#youtube_link{
	background-color: #F44336;
}



/*start skills*/
#skills_header{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: #607D8B;
  text-align: center;
  margin-top: 2%;
  margin-bottom: 0.4%;
}


#skills_list_wrapper{
	float: right;
	position: relative;
	left: -50%;
	text-align: left;
}

#skills_list_wrapper > #skills_list{
	list-style-type: none;
    overflow: hidden;
	position:relative;
	left: 50%;
}

.skills_item{
	display:inline;
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #607D8B;
}
/* skills*/

/*start apps*/
#spacer{
	background-color: blue;
	margin-top: 7.3%;
	width: 90%;
	margin-right: auto;
	margin-left: auto;	
}

#project_header{
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 60px;
  color: #607D8B;
  margin-left: auto;
  margin-right: auto;
  /*text-decoration: underline;*/
  margin-bottom: 2%;
  margin-top: 6%;
}

#rubiks{
	background-color: #FF9800;
	z-index: 10; 
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  position: relative;
}

#rubiks_cube_description{
	width: 34.7%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	
}
#rubiks_cube_description_text_header{
  font-family: 'Lato', sans-serif;
	font-weight: 700;
  font-size: 35px;
  color: white;
  text-align: center;
  margin-left: 0%;
  margin-bottom: 0%;
}
#rubiks_cube_description_text{
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 3%; 
}
#rubiks_cube_images{
	width: 65%;
	display: inline-block;
}

#hybrid{
	background-color: #2196F3;
	z-index: 9; 
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
  position: relative;
  
}
#hybrid_description{
	width: 34.7%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	
}
#hybrid_description_text_header{
  font-family: 'Lato', sans-serif;
	font-weight: 700;
  font-size: 35px;
  color: white;
  text-align: center;
  margin-right: 0%;
  margin-bottom: 0%;
}
#hybrid_description_text{
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 3%; 
}
#hybrid_images{
	width: 65%;
	display: inline-block;
}


#final_calculator{
	background-color: #8BC34A;
	z-index: 8; 
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
  position: relative;
  
}
#final_calculator_description{
	width: 69.7%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	
}
#final_calculator_description_text_header{
  font-family: 'Lato', sans-serif;
	font-weight: 700;
  font-size: 35px;
  color: white;
  text-align: center;
  margin-left: 0%;
  margin-bottom: 0%;
}
#final_calculator_description_text{
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 3%; 
}
#final_calculator_images{
	width: 30%;
	display: inline-block;
}




#color_sampler{
	background-color: #F44336;
	z-index: 7; 
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
  position: relative;
  
}
#color_sampler_description{
	width: 34.7%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	
}
#color_sampler_description_text_header{
  font-family: 'Lato', sans-serif;
	font-weight: 700;
  font-size: 35px;
  color: white;
  text-align: center;
  margin-right: 0%;
  margin-bottom: 0%;
}
#color_sampler_description_text{
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 3%; 
}
#color_sampler_images{
	width: 65%;
	display: inline-block;
}



#jump{
	background-color: #9C27B0;
	z-index: 5; 
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.75);
  position: relative;
}

#jump_description{
	width: 34.7%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	
}
#jump_description_text_header{
 font-family: 'Lato', sans-serif;
	font-weight: 700;
  font-size: 35px;
  color: white;
  text-align: center;
  margin-left: 0%;
  margin-bottom: 0%;
}
#jump_description_text{
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 3%; 
}
#jump_images{
	width: 65%;
	display: inline-block;
}



#central_limit{
	background-color: #607D8B;
	z-index: 4; 
  -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 6px 10px 0px rgba(0,0,0,0.75);
  position: relative;
  
}
#central_limit_description{
	width: 34.7%;
	display: inline-block;
	height: 100%;
	vertical-align: top;
	
}
#central_limit_description_text_header{
 font-family: 'Lato', sans-serif;
	font-weight: 700;
  font-size: 35px;
  color: white;
  text-align: center;
  margin-right: 0%;
  margin-bottom: 0%;
}
#central_limit_description_text{
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: white;
  text-align: left;
  margin-left: 3%; 
}
#central_limit_images{
	width: 65%;
	display: inline-block;
}







#github_project_link{
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: white;
}

#download{
	font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: white;
}
/*end apps*/

/* start github*/
#project{
	text-align: center;
}
/*end github*/

hr{

}
